/node_modules
/public/build
/public/hot
/public/storage
/public/mix-manifest.json
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.idea
/.vscode
composer.lock
package-lock.json
.phpunit.result.cache

/pnpm-lock.yaml
/tests/Feature/Auth/AuthenticationTest.php
/tests/Feature/Auth/EmailVerificationTest.php
/tests/Feature/Auth/PasswordConfirmationTest.php
/tests/Feature/Auth/PasswordResetTest.php
/tests/Feature/Auth/RegistrationTest.php
/tests/Feature/ExampleTest.php
/tests/Unit/ExampleTest.php
/tests/CreatesApplication.php
/tests/TestCase.php
/storage/debugbar/.gitignore
bootstrap/cache/packages.php
bootstrap/cache/services.php
bootstrap/cache/packages.php
